.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    width: 100%; 
  }
  .update-user-role-container {
    padding: 20px;
    background-color: var(--background);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(128, 128, 128, 0.1);
    width: 100%;
    max-width: 500px; 
    margin: 0 auto; 
  }
  .update-user-role-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .form-group input:focus,
  .form-group select:focus {
    border-color: var(--primary-main);
    outline: none;
  }
  
  .btn {
    padding: 10px;
    background-color: var(--bg-secondary);
    color: var(--foreground);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: var(--bg-primary);
  }

  @media (max-width: 768px) {
    .update-user-role-container {
      padding: 15px;
    }
  }
  