.info-section {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  background-color: var(--background);
}

.info-column {
  flex-basis: 30%;
  text-align: center;
}

.info-card {
  padding: 1.5rem;
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 2px 2px rgba(134, 134, 134, 0.1);
}

.info-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(134, 134, 134, 0.1);
}

.info-card svg {
  font-size: 3rem;
  color: var(--foreground);
}

.info-card h3 {
  margin: 1rem 0 0.5rem;
  font-size: 1.25rem;
  color: var(--foreground);
}

.info-card p {
  color: var(--text-secondary);
}

.info-column a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .info-section {
    flex-direction: column;
    padding: 1rem;
  }

  .info-column {
    flex-basis: 100%;
    margin-bottom: 1.5rem;
  }

  .info-card {
    padding: 1rem;
  }
}

